**Basics of R Programming**

Let us learn basic building blocks of the R programming language.

In most comman way R can be though as an interactive calculator.

Try executing following code block

In [1]:
#Code cell
5*7

[1] 35

In [2]:
typeof(12)

[1] "double"

 **Store computed value in a variable**

 The way you assign a value to a variable in R is by using the assignment operator, which is just a 'less than'symbol followed by a 'minus' sign. It looks like this: <-

In [3]:
#Store result of 5+7 in varible c
c<-5+7
c

[1] 12

In [4]:
typeof(c)

[1] "double"

We can further use variable c in another exrpession to create variable b which is 1 excess that one fourth of value of c

In [5]:
b<-c/4+1
b 
d=c/4+1
d

[1] 4

[1] 4

In [6]:
typeof(b)
typeof(d)

[1] "double"

[1] "double"

**Creation of Vector**

The easiest way to create a vector is with the c() function, which stands for 'concatenate' or 'combine'. 

 To create a vector containing the numbers 1.1, 9, and 3.14, type c(1.1, 9, 3.14). Try it now and store the result in a variable called z in following code block.

In [7]:
z <- c(1.1, 9, 3.14)
z
z1 <- c(1.1, 9, 5,566,4564.545646)
z1

[1] 1.10 9.00 3.14

[1]    1.100    9.000    5.000  566.000 4564.546

In [8]:
typeof(z)
typeof(z1)
class(z)

[1] "double"

[1] "double"

[1] "numeric"

In [9]:
z

[1] 1.10 9.00 3.14

In [10]:
#Get Documentation about concatinate
?c
#help(c)

You can combine vectors to make a new vector. 

Create a new vector that contains z, 555, then z again in that order. Don't assign this vector to a new variable, so that we can just see the result immediately.

In [11]:
c(z,555,z)

[1]   1.10   9.00   3.14 555.00   1.10   9.00   3.14

In [12]:
z<-c(3,6,5)

**Using Vector in Expression**

compute z^2 + 3 and check output

In [13]:
z
z^2+3

[1] 3 6 5

[1] 12 39 28

**Comman Arithmatic Operators in R**

+, -, /, *, ^ are comman operators and sqrt, abs are arithmatic functions in R

When given two vectors of the same length, R simply performs the specified arithmetic operation (`+`, `-`, `*` etc.) element-by-element. If the vectors are of different lengths, R 'recycles' the shorter vector until it is the same length as the longer vector.

When we do z * 2 + 100, z is a vector of length 3, but technically 2 and 100 are each vectors of length 1.

In [14]:
y<-rep(2,10)
y
length(y)

 [1] 2 2 2 2 2 2 2 2 2 2

[1] 10

In [15]:
# Does recycling explains output of following expression
c(1, 2, 3, 4) + c(0, 10)
c(1, 2, 3, 4) + c(0, 10, 0 ,10)
c(1, 2, 3, 4, 5) + c(2, 10)
c(1, 2, 3, 4, 5) + c(2, 10, 2, 10, 2)

[1]  1 12  3 14

[1]  1 12  3 14

Warning message in c(1, 2, 3, 4, 5) + c(2, 10):
“longer object length is not a multiple of shorter object length”

[1]  3 12  5 14  7

[1]  3 12  5 14  7

**How to access disk?**

In [16]:
curdir<-getwd()
curdir

[1] "/content"

In [17]:
ls()

[1] "b"      "c"      "curdir" "d"      "y"      "z"      "z1"

In [18]:
#show you files in PWD
list.files()
#dir('.')

[1] "sample_data"

In [19]:
list.dirs('sample_data')

[1] "sample_data"

In [20]:
old_dir<-getwd()

In [21]:
#creates a folder on ur device 
dir.create('test2')

In [22]:
list.dirs()

[1] "."                         "./.config"
[3] "./.config/configurations"  "./.config/logs"
[5] "./.config/logs/2021.03.01" "./sample_data"
[7] "./test2"

In [23]:
getwd()

[1] "/content"

In [24]:
file.create('mytest.R')

[1] TRUE

In [25]:
dir()

[1] "mytest.R"    "sample_data" "test2"

In [26]:
file.exists('/test2/mytest.R')
file.exists('mytest.R')

[1] FALSE

[1] TRUE

In [27]:
file.info('./myTest.R')

           size isdir mode mtime ctime atime uid gid uname grname
./myTest.R NA   NA    <NA> <NA>  <NA>  <NA>  NA  NA  NA    NA

In [28]:
file.rename('mytest.R','mytest2.R')

[1] TRUE

In [29]:
dir()

[1] "mytest2.R"   "sample_data" "test2"

In [30]:
file.copy('mytest2.R','mytest3.R')

[1] TRUE

In [31]:
file.path('testdir2','testdir3')

[1] "testdir2/testdir3"

In [32]:
 dir.create(file.path('testdir2','testdir3'),recursive = TRUE)

In [33]:
dir()

[1] "mytest2.R"   "mytest3.R"   "sample_data" "test2"       "testdir2"

In [34]:
setwd('testdir2')

In [35]:
dir()
getwd()

[1] "testdir3"

[1] "/content/testdir2"

**Complete following tasks**

Write R Code:
 

1.    To create a directory named myworkplace in current working dirctory.
2.   Create a folders/directories **exp1 and exp2** in it.
3.   Navigate to **exp1** and create a file named **my_file.txt**. 
4.   Copy it to **my_file1.txt**
5.   List files and folders in PWD and also in '/contents' directory  
6.   Display only File access permisssion in the output for every file in **exp1** folder.

In [36]:
getwd()
dir.create('myworkplace')
getwd()

[1] "/content/testdir2"

[1] "/content/testdir2"

In [37]:
setwd('myworkplace')
getwd()

[1] "/content/testdir2/myworkplace"

In [38]:
dir.create('exp1')
dir.create('exp2')
setwd('exp1')

In [39]:
getwd()

[1] "/content/testdir2/myworkplace/exp1"

In [40]:
file.create('my_file.txt')

[1] TRUE

In [41]:
file.copy('my_file.txt','my_file1.txt')

[1] TRUE

In [42]:
list.files()

[1] "my_file.txt"  "my_file1.txt"

In [43]:
setwd('/content')
getwd()

[1] "/content"

In [44]:
list.files()

[1] "mytest2.R"   "mytest3.R"   "sample_data" "test2"       "testdir2"

In [45]:
setwd('/content/testdir2/myworkplace/exp1')
file.access('my_file.txt')
file.access('my_file1.txt')

my_file.txt
          0

my_file1.txt
           0